In [29]:
print("DUCAT")
print("Pitampura")
i=int(input("Ducat_id :"))
if i==17748:     #indentation
    print("VISHWKANT")
    print("Python")
    p=int(input("Enter Password :"))
    if p==693:
        print("10:00AM")
        print("Offline")
        print("Address")
    else:
        print("Incorrect Password")
else:
    print("id not found\nTry Again !!")
print("\nThanks")

DUCAT
Pitampura
Ducat_id :17748
VISHWKANT
Python
Enter Password :456
Incorrect Password

Thanks

In [10]:
print("Pushpendra sharma")
print("from jaipur")
print("Data scientist")
p=1111
up=int(input("Enter user password :"))
if p==up:
    print("Bank Name :HDFC")
    print("Branch Code :HD356677")
    print("Account Number :12345678")
    pp=2222
    upp=int(input("Enter your PP :"))
    if pp==upp:
        print("Bank Bal :1000")
        print("ATM pin :1234")
    else:
        print("Wrong PP")
else:
    print("Sorry password not match")
    print("Try again")
print("\nThanks")

Pushpendra sharma
from jaipur
Data scientist
Enter user password :1111
Bank Name :HDFC
Branch Code :HD356677
Account Number :12345678
Enter your PP :2222
Bank Bal :1000
ATM pin :1234

Thanks

In [ ]:
#if else ladder

In [16]:
key=int(input("Enter lock no."))
if key<=1111:
    print("A lock")
    print("1111")
elif key<=2222:
    print("B lock")
    print("2222")
else:
    print("wrong key")

Enter lock no.112
A lock
1111

In [ ]:
#1  Profit & Loss

In [2]:
s= float(input ("Selling Price :")) 
c= float(input ("Cost Price :"))
x=s-c
if x>=1:
    print("Profit")
    print("Profit Earned :",x)
else:
    print("Loss")
    print("Loss Incurred :",x)

Selling Price :30
Cost Earned :15
Profit
Profit Earned 15.0

In [ ]:
#2  Even Odd

In [4]:
i= int(input ("Enter a value :")) 
print("Even") if ((i%2)==0) else print("Odd")

Enter a value :7
Odd

In [ ]:
#3    Reverse of 5 digit number

In [4]:
x=int(input("Enter 5 Digit no. :"))
if x>=10000 and x<=99999:
    d=x%10
    q=x//10

    d1=q%10
    q1=q//10

    d2=q1%10
    q2=q1//10

    d3=q2%10
    q3=q2//10

    d4=q3%10
    q4=q3//10

    o=(d*10000)+(d1*1000)+(d2*100)+(d3*10)+d4
    
    print("Reversed No. :",d,d1,d2,d3,d4,'(',o,')') 
    
else:
    print("Wrong Data")

Enter 5 Digit no. :98970
Reversed No. : 0 7 9 8 9 ( 7989 )

In [ ]:
#4    Area & Perimeter Of Reactangle

In [19]:
l= float(input ("Lenght of Rectangle :")) 
b= float(input ("Breadth of Rectangle :")) 
a=(l*b)
p=(2*(l+b))
print("Area Of Rectangle :",a)
print("Perimeter Of Rectangle :",p)
if a>p:
    print("Area of rectangle with length =",l,"and breadth =",b,"is greater than perimeter of Rectangle")
else:
    print("perimeter of rectangle with length =",l,"and breadth =",b," is greater than area of rectangle")

Lenght of Rectangle :3
Breadth of Rectangle :4
Area Of Rectangle : 12.0
Perimeter Of Rectangle : 14.0
perimeter of rectangle with length = 3.0 and breadth = 4.0  is greater than area of rectangle

In [ ]:
#5    CAPITAL ,small & Special Character

In [ ]:
#reference for the ques. 5
Ascii code :-
    0 to 255   ---> binary
    A - 65
    B - 66
    Z - 90
    
    a - 97
    b - 98
    z - 122
    
    #ord('0-9')
    0 - 48
    1 - 49
    9 - 57
    
    enter - 13
    esc   - 27
    
    #ord(digit)
    #chr("alphabet or digit")

In [14]:
x=input("Enter any data :")
if ord(x)>=65 and ord(x)<=90:
    print("CAPITAL DATA")
elif ord(x)>=97 and ord(x)<=122:
    print("small data")
elif ord(x)>=48 and ord(x)<=57:
    print("Digit Data")
else:
    print("$peC!@L C#aR@cTeR")

Enter any data :@
$peC!@L C#aR@cTeR

In [ ]:
#6  Library Fine

In [15]:
d=int(input("Enter Book retuned late days :"))

if 1<=d<=5:
    f=d*0.5
    print("Fine is 50 paise per day :",f)
    print("days late :",d)
    print("Please Return Book Timely")
    
elif 5<d<=9:
    f1=d*1
    print("Fine is 1 rupee per day :",f1)
    print("days late :",d)
    print("Please Return Book Timely")

elif 10<=d<30:
    f2=d*5
    print("Fine is 5 rupee per day :",f2)
    print("days late :",d)
    print("Please Return Book Timely")
    
elif 30<=d:
    f2=d*5
    print("your membership is cancelled")
    print("Please Return Book Timely")
        
else:
    print("No Fine")

Enter Book retuned late days :30
your membership is cancelled
Please Return Book Timely

In [ ]:
#7 Eligible for Voting

In [19]:
a=int(input("Enter Age of the voter :"))

if a>=18:
    i=input("Having a Voter ID (yes/no) ?:")
    if i=='yes':
        print("Eligible for Voting.")
    else:
        print("Apply for Voter ID.")
else:
    print("Not Eligible ,Age above 18 can caste their vote.")

Enter Age of the voter :24
Having a Voter ID (yes/no) ?:yes
Eligible for Voting.

In [ ]:
#8

In [60]:
x='hello word'
print(x)

hello word

In [ ]:
#9

In [38]:
n1=int(input ("Enter any number : "))
n2=int(input ("Enter any number : "))
n3=int(input ("Enter any number : "))

if n1>(n2 and n3):
    print("First No. is greater")
    
elif n2>(n1 and n3):
    print("Second No. is greater")
    
elif n3>(n1 and n2):
    print("Third No. is greater")
    
else:
    print("All are equal")

Enter any number : 6
Enter any number : 7
Enter any number : 8
Third No. is greater

In [ ]:
#10 Leap Year

In [76]:
y=int(input("Enter Year :"))

if (y%4)==0:
    print("Entered Year is a Leap Year")
else:
    print("Not A Leap Year")

Enter Year :1996
Entered Year is a Leap Year

In [ ]:
#LOOP :- While and For Loop (While-else and For-else)

In [13]:
x=int(input("Starting Number :"))
y=int(input("Ending Number :"))
c=x-1
while x<y:
    print(x-c,"| Ducat")
    x=x+1
    if x==y:
        break  #break the loop 
print("Delhi")

Starting Number :3
Ending Number :9
1 | Ducat
2 | Ducat
3 | Ducat
4 | Ducat
5 | Ducat
6 | Ducat
Delhi

In [11]:
x=int(input("Starting Number :"))
c=x-1
while x<=10:
    print(x-c,"| Ducat")
    x=x+1
print("Delhi")

Starting Number :7
1 | Ducat
2 | Ducat
3 | Ducat
4 | Ducat
Delhi

In [27]:
#Code for any number table

x=int(input("Enter Any Number :"))
n=1
while n<=10:
    print(x,"*",n,"=",x*n)
    n=n+1
print("Delhi")

Enter Any Number :9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
Delhi

In [3]:
for i in [55,66,56,78,65,9]:
    print(i)

55
66
56
78
65
9

In [37]:
print("Welcome")
x=int(input("enter a number"))
for x in range(1,10):
    print(x,"Dual")
    if x==8:
        pass

Welcome
enter a number1
8 Dual

In [1]:
#FACTORIAL
f=int(input("Enter a number :"))
h=f-1
while f>=1:
    print(f*h)
    h=f-1
    if

Enter a number :4
12

In [2]:
#6 
p=100000
y=1
while y<=10:
    print("population per year ",y,":===",p)
    p=p+p*(10/100)
    y=y+1

population per year  1 :=== 100000
population per year  2 :=== 110000.0
population per year  3 :=== 121000.0
population per year  4 :=== 133100.0
population per year  5 :=== 146410.0
population per year  6 :=== 161051.0
population per year  7 :=== 177156.1
population per year  8 :=== 194871.71000000002
population per year  9 :=== 214358.88100000002
population per year  10 :=== 235794.76910000003

In [5]:
#Table
t=int(input("number"))
n=1
while n<=10:
    print(t,"*",n,"=",t*n)
    n=n+1

number56
56 * 1 = 56
56 * 2 = 112
56 * 3 = 168
56 * 4 = 224
56 * 5 = 280
56 * 6 = 336
56 * 7 = 392
56 * 8 = 448
56 * 9 = 504
56 * 10 = 560

In [2]:
#reverse no
x=int(input("Enter no. :"))
s=0
while x>=1:
    d=x%10
    q=x//10
    x=q
    
    s=s*10+d
print(str(s))

Enter no. :4567
7654

In [12]:
x=int(input("Enter 2 Digit no. :"))
if x>=10 and x<=99:
    d=x%10
    q=x//10

    d1=q%10
    q1=q//10
    
    o=(d*10)+d1
    
    print("Magical No. :",x,"*",o,"=",x*o)

Enter 2 Digit no. :91
Magical No. : 91 * 19 = 1729

In [28]:
x=int(input("Enter any no. :"))
n=0
while x>=1:
    d=x%10
    q=x//10
    x=q
    n=n+d
    
    if x%2==0:
        print("Even",x,n)
        
    else:
        print("Odd",x,n)

Enter any no. :34567
Even 7 7
Odd 6 13
Even 5 18
Odd 4 22
Even 3 25

In [8]:
#7,9,19 divisible
x=1
n=0
while x>=1 and x<=100000:
    x=x+1
    if x%7==0 and x%9==0 and x%19==0:
        print(x,"Divisible")
        n=n+1
    else:
        continue
print(n)

1197 Divisible
2394 Divisible
3591 Divisible
4788 Divisible
5985 Divisible
7182 Divisible
8379 Divisible
9576 Divisible
10773 Divisible
11970 Divisible
13167 Divisible
14364 Divisible
15561 Divisible
16758 Divisible
17955 Divisible
19152 Divisible
20349 Divisible
21546 Divisible
22743 Divisible
23940 Divisible
25137 Divisible
26334 Divisible
27531 Divisible
28728 Divisible
29925 Divisible
31122 Divisible
32319 Divisible
33516 Divisible
34713 Divisible
35910 Divisible
37107 Divisible
38304 Divisible
39501 Divisible
40698 Divisible
41895 Divisible
43092 Divisible
44289 Divisible
45486 Divisible
46683 Divisible
47880 Divisible
49077 Divisible
50274 Divisible
51471 Divisible
52668 Divisible
53865 Divisible
55062 Divisible
56259 Divisible
57456 Divisible
58653 Divisible
59850 Divisible
61047 Divisible
62244 Divisible
63441 Divisible
64638 Divisible
65835 Divisible
67032 Divisible
68229 Divisible
69426 Divisible
70623 Divisible
71820 Divisible
73017 Divisible
74214 Divisible
75411 Divisible
76608 Divisible
77805 Divisible
79002 Divisible
80199 Divisible
81396 Divisible
82593 Divisible
83790 Divisible
84987 Divisible
86184 Divisible
87381 Divisible
88578 Divisible
89775 Divisible
90972 Divisible
92169 Divisible
93366 Divisible
94563 Divisible
95760 Divisible
96957 Divisible
98154 Divisible
99351 Divisible
83

In [10]:
x=int(input("Enter any no. :"))
while x>=1:
    if x==((x)**0.5)*((x)**0.5):
        print("pfkt sqr")
        break
    else:
        break

Enter any no. :996

In [17]:
x=1
n=0
while x>=1 and x<=500:
    x=x+1
    
    d=x%10
    q=x//10

    d1=q%10
    q1=q//10
    
    d2=q1%10
    q2=q1//10
    
    if x==(d*d*d)+(d1*d1*d1)+(d2*d2*d2):
        print("Armstrong No. =",x)
        n=n+1
    else:
        continue
print(n)

Armstrong No. = 153
Armstrong No. = 370
Armstrong No. = 371
Armstrong No. = 407
4

In [23]:
x=int(input("enter a number"))
n=x
f=0
while x>=1:
    d=x%10
    q=x//10
    x=q
    p=d*d*d
    f=f+p
    print(d,p,f)
    
print(n)    
if n==f:
    print("Armstrong No. =",n,"=",f)
else:
    print("Not a Armstrong Number")

enter a number153
3 27 27
5 125 152
1 1 153
153
Armstrong No. = 153 = 153

In [2]:
x=1
n=0
while x>1 and x<=300:
    x=x+1
    if x%n==0:
        print(x,"prime")
        n=n+1
    else:
        continue
print(n)

0

In [16]:
a=int(input("Enter any no. :"))
b=int(input("Enter any no. :"))
c=int(input("Enter any no. :"))
d=int(input("Enter any no. :"))
e=int(input("Enter any no. :"))
while a>1:
    if a>(b and c and d and e):
        print ("a")
        break
    else:
        if b>(c and d and e):
            print("b")
            break
        else:
            if c>(d and e):
                print("c")
                break
            else:
                if d>e:
                    print("d")
                    break
                else:
                    print("e")
                    break

Enter any no. :67
Enter any no. :45
Enter any no. :99
Enter any no. :78
Enter any no. :99
e

In [19]:
n=int(input("Enter any no. :"))
x=n
s=0
while n>=1:
    d=n%10
    q=n//10
    n=q
    
    s=s*10+d
    
if str(s)==str(x):
    print("Palindrome Number :",str(x),"==",str(s))
else :
    print("Not a Palindrome Number :",str(x),"=/=",str(s))

Enter any no. :567898765
Palindrome Number 567898765 == 567898765

In [24]:
n1=int(input("Enter any no. :"))
n2=int(input("Enter any no. :"))
print(n1**n2)

Enter any no. :4
Enter any no. :5
1024

In [6]:
n=5
while n>=1 and n<=5:
    print(n,n,n,n,n)
    n=n-1

5 5 5 5 5
4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1