In [3]:
k= float(input ("Enter a value :")) 
print("Even") if ((k%2)==0) else print("Odd")

Enter a value :7
Odd

In [ ]:
#1

In [3]:
d=float(input("Distance btw two cities : "))
print("Distance in meters ;",d);print("Distance in feet ;",3.28*d);print("Distance in meters ;",39.37*d);print("Distance in meters ;",100*d)

Distance btw two cities : 6
Distance in meters ; 6.0
Distance in feet ; 19.68
Distance in meters ; 236.21999999999997
Distance in meters ; 600.0

In [ ]:
#2

In [5]:
a=float(input("Marks Obtained In English : "))
b=float(input("Marks Obtained In Physics : "))
c=float(input("Marks Obtained In Chemistry : "))
d=float(input("Marks Obtained In Biology : "))
e=float(input("Marks Obtained In Mathematics : "))
x=(a+b+c+d+e)/5
print("Percentage : ",x,("%"));print("Aggregate marks : ",(a+b+c+d+e))

Marks Obtained In English : 80
Marks Obtained In Physics : 80
Marks Obtained In Chemistry : 80
Marks Obtained In Biology : 80
Marks Obtained In Mathematics : 80
Percentage :  80.0 %
Aggregate marks :  400.0

In [6]:
#3

In [7]:
t=float(input("Temperature in F : "))
x=(t-32)*(5/9)
print("Temperature in C : ",x)

Temperature in F : 98.7
Temperature in C :  37.05555555555556

In [8]:
#4

In [9]:
l= float(input ("Lenght of Rectangle :")) 
b= float(input ("Breadth of Rectangle :")) 
r= float(input ("Radius of a Circle :")) 
print("Area of Rectangle : ",(l*b));print("Parimeter of Rectangle : ",(2*(l+b)));print("Area of Circle : ",((22/7)*(r**2)));print("Circumference of Circle : ",(2*(22/7)*r))

Lenght of Rectangle :4
Breadth of Rectangle :5
Radius of a Circle :6
Area of Rectangle :  20.0
Parimeter of Rectangle :  18.0
Area of Circle :  113.14285714285714
Circumference of Circle :  37.714285714285715

In [10]:
#5

In [19]:
s= float(input ("Selling Price :")) 
p= float(input ("Profit Earned :")) 
print("Cost price : ",((s-p)/15))

Selling Price :1500
Profit Earned :500
Cost price :  66.66666666666667

In [12]:
#6

In [2]:
n=float(input ("Enter any five digit number : ")) 

a=n%10
n=n//10

a1=n%10
n1=n//10

a2=n1%10
n2=n1//10

a3=n2%10
n3=n2//10

a4=n3%10
q4=n3//10

s=a+a1+a2+a3+a4

print("Sum of numbers : ",s)

Enter any five digit number : 89898
Sum of numbers :  42.0

In [14]:
#7

In [10]:
num=float(input ("Enter any amount : ")) 
ntt=num//2000 #q
num=num%2000  #rem

nfh=num//500
num=num%500

nth=num//200
num=num%200

n1=num//100
num=num%100

n2=num//50
num=num%50

n3=num//10
num=num%10

n4=num//5
num=num%5

n5=num//2
num=num%2

n6=num//1
num=num%1

print("Number of two thousands : ",ntt);print("Number of five hundreds : ",nfh);print("Number of two hundreds : ",nth);print("Number of hundreds : ",n1);print("Number of fifties : ",n2);print("Number of tens : ",n3);print("Number of fives : ",n4);print("Number of twos : ",n5);print("Number of ones : ",n6)

Enter any amount : 37568
Number of thousands :  18.0
Number of five hundreds :  3.0
Number of two hundreds :  0.0
Number of hundreds :  0.0
Number of fifties :  1.0
Number of tens :  1.0
Number of fives :  1.0
Number of twos :  1.0
Number of ones :  1.0

In [15]:
#8

In [25]:
j= float(input ("Side of Triangle :")) 
k= float(input ("Side of Triangle :")) 
l= float(input ("Side of Triangle :")) 
s=((j+k+l)/2)
area = (s*(s-a)*(s-b)*(s-c)) ** 0.5 
print('The area of the triangle is ; ' ,area);print('Semi-Perimeter of the triangle is ; ' ,s)

Side of Triangle :6
Side of Triangle :6
Side of Triangle :6
The area of the triangle is ;  426.0
Semi-Perimeter of the triangle is ;  9.0

In [2]:
x=int(input("Enter any number :"))
print("+ve") if x>-1 else print("-ve")

Enter any number-78
-ve

In [3]:
p= float(input ("Marks Obtained in Physics : ")) 
c= float(input ("Marks Obtained in Chemistry : ")) 
m= float(input ("Marks Obtained in Mathematics : ")) 
t=p+c+m
pr=t/300*100
print("Total Marks Obtained : ",t,"/ 300")
print("Percentage :",pr,"%")
print("FAIL") if pr<34 else( print("3rd") if pr<46 else ( print("2nd") if pr<60 else print("1st")    )  )

Marks Obtained in Physics : 98
Marks Obtained in Chemistry : 78
Marks Obtained in Mathematics : 90
Total Marks Obtained :  266.0 / 300
Percentage : 88.66666666666667 %
1st